.Modal-Container {
  height: auto;
  width: 65%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 0 15px;
}

.Modal-Content {
  width: 100%;
}

.Api-Container {
  margin-top: 5%;
}

.Api-Container .Api-Selection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.Create-Button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
