.Allowed-Apis span {
  text-transform: uppercase;
}

.Secret-Token {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.Secret-Token-Button,
.Secret-Token-Input {
  margin-left: 15px;
}

.Graphs-Container {
  margin-top: 20px;
}

.Graph {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
}

@media screen and (max-width: 740px) {
  .Graph {
    grid-template-columns: 100%;
    grid-gap: 0%;
  }
}
