.Signup {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form-Container {
  padding: 0 8px;
  max-width: 445px;
}

.Avatar {
  display: inline;
  color: white;
  margin: 1%;
  background-color: rgb(211, 98, 98);
  border-radius: 100%;
  padding: 7px 10px;
}

.Signup-Form {
  margin-top: 3%;
}

.Signup-Username,
.Signup-Password,
.Signup-Button-Inside {
  width: 60%;
}

.Signup-Button button {
  margin-top: 3%;
}

.Signup-Forget {
  text-decoration: none;
}

.Name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Firstname,
.Lastname {
  width: 49%;
}

.Email input {
  width: 100%;
}
