.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242525;
  height: 8vh;
  text-align: center;
  font-size: calc(2px + 2vmin);
  color: #d9dce0;
}

.Footer p {
  margin: 0;
  padding: 0;
}